body{
	margin: 0;
}

.header {
  overflow:hidden;
  text-align: center;
  font-size: 35px;
  background: linear-gradient(top,#3c3c3c 0% , #222222 100%);
  background: -webkit-linear-gradient(top,#3c3c3c 0% , #222222 100%);
  padding: 20px 10px;
  color: white;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration:none;
  font-size: 25px; 
  line-height: 25px;
  border-radius: 8px;
  font-family: verdana;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header a.login:hover {
  background-color: black;
  color: white;
}

.header a.logout:hover {
  background-color: black;
  color: white;
}


.header a.active {
  background-color: coral;
  color:black;
}

.header-right {
  float: right;
}
