body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: coral;
}
.box{
  width: 500px;
  height: auto;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  border: 2px;
  border-radius: 30px;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"],.box input[type = "email"]{
  padding: 400px;  
  border:0;
  background: none;
  display: block;
  margin: 40px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  flex-direction: column;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #c83349;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 50px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  flex-direction: column;
}
.box input[type = "submit"]:hover{
  background:#2ecc71;
}

.container a
{
  text-decoration: none;
  color: white;
}
